.start {
    max-width: 600px;
    margin: 0 auto;
}

.start__introduction {
    padding: 0 12px 12px 12px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.start__introduction p {
    font-size: 16px;
}

.start__introduction h1:first-of-type {
    margin-top: 18px;
}

.start__introduction h1,
.start__introduction h2,
.start__introduction h3 {
    margin: 8px 0px;
    font-size: 32px;
}

.start__buttoncontainer {
    width: 50%;
    min-width: 240px;
    margin: 0 auto;
}