.memorycards {
    margin: 12px auto;
    max-width: 825px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 680px) {
    .memorycards {
        margin: 16px auto;
    }
}