.card {
    width: 40vw;
    max-width: 200px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8px 6px;
    padding: 8px;
    background: #0057E7;
    color: white;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
@media (hover: hover) {
    .card:hover {
        background: #D62D20;
    }
}