.list {
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }
  
  .list__item {
    font-size: 16px;
    margin: 8px 0;
    color: black;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding: 6px 12px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0057E7;
    color: white;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
  }